<div class="col-md-12 mt-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Pay Accounts
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Account Type</th>
              <th>Account Number</th>
              <th>
                <a href='<%=new_pay_account_path%>' data-method='get'><button type="button" class="btn btn-success">Create</button></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @pay_accounts.each do |pay_account| %>
              <tr>
                <td><%= pay_account.nickname %></td>
                <td><%= pay_account.account_type.humanize %></td>
                <td>
                  <span id="<%= pay_account.account_number %>"><%= pay_account.account_number %></span>
                  <button id='hide' onclick="hide('<%= pay_account.account_number %>')" type="button" class="btn btn-sm btn-default">hide</button>
                </td>
                <td>
                  <a href="<%=pay_account_path(pay_account.id)%>"><button type="button" class="btn btn-warning">Show</button></a>
                  <a href="<%=pay_account_path(pay_account.id)%>" data-method='delete'><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function hide(e){
    var string = document.getElementById(e);
    var arr = e.split("");
      for(var i=0;i<=e.length-5;i++){
        arr[i]="*"
      }
    var join = arr.join("")
    string.innerText= join
  }
</script>
