<div class="col-md-12 mt-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Pay Accounts
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Account Type</th>
              <th>Account Number</th>
              <th>
                <% if current_user %>
                  <button type="button" class="btn btn-success" onclick="location.href='<%= new_pay_account_path %>'">Create</button>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% if current_user && @pay_accounts %>
              <% @pay_accounts.each_with_index do |pay_account, index| %>
                <tr>
                  <td><%= pay_account.nickname %></td>
                  <td><%= pay_account.account_type.humanize %></td>
                  <td>
                    <span><%= pay_account.account_number %></span>
                    <button type="button" class="btn btn-sm btn-secondary btn-hide">hide</button>
                  </td>
                  <td class="d-flex">
                    <button type="button" class="btn btn-warning mr-1" onclick="location.href='<%= pay_account_path(pay_account) %>'">Show</button>
                    <%= button_to "Delete", pay_account_path(pay_account.id), {method: :delete, class: "btn btn-danger"} %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <h3>
        Xml Parser
      </h3>
      <p>
        LoanNumber: <%= PayAccount.loan_number%>
      </p>
      <p>
        BorrowerName: <%= PayAccount.borrower_name%>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".btn-hide").click(function() {
      var obj = $(this).parent().find("span");
      var semiPassword = obj.html().replace(/.(?=.{4,}$)/g, '*');
      obj.html(semiPassword)
    });
  });
</script>