<!DOCTYPE html>
<html>
  <head>
    <title>RailsCodeTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <h2>Welcome</h2>
      <ul>
          <li><a href="<%=home_path%>">Home</a></li>
          <li><a href="<%=root_path%>">Pay Accounts</a></li>
      </ul> 
    </div>
     <%= yield %>
  </body>
</html>
